<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
</head>

<body>
    <div>
        <div>
            <h1>Restablecer Contraseña</h1>
        </div>
        <div>
            <p>Hola,</p>
            <p>Hemos recibido una solicitud para cambiar la contraseña de tu cuenta asociada con este correo
                electrónico.</p>
            <p>Para crear una nueva contraseña, haz clic en el siguiente enlace:</p>

            <div>
                <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">Restablecer Contraseña</a>
            </div>

            <p>Si el botón no funciona, copia y pega este enlace en tu navegador:</p>
            <p>
                {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
            </p>

            <p>Si no solicitaste un cambio de contraseña, ignora este correo. Tu cuenta seguirá estando segura.</p>
            <p>— El equipo de MedCloud</p>
        </div>
        <div>
            &copy; 2026 MedCloud. Todos los derechos reservados.
        </div>
    </div>
</body>

</html>