CLINIC_SLUG=demo-clinic
AWS_REGION=us-east-1
S3_BUCKET_NAME=orthanc-demo-clinic-123456-dicom
AWS_ACCESS_KEY_ID=minioadmin
AWS_SECRET_ACCESS_KEY=minioadmin
ORTHANC_WEBHOOK_SECRET=local-orthanc-secret
CLINIC_API_URL=http://host.docker.internal:8000
DB_NAME=aros_clinic
DB_USER=aros_user
DB_PASSWORD=aros_password
