{% extends 'core/base.html' %}
{% load static %}

{% block title %}Iniciar Sesión - MedCloud{% endblock %}

{% block content %}
<div>
    <div>
        <div>
            <img src="{% static 'core/assets/img/logos/medCloud_logo.png' %}" alt="Logo">
            <h2>Iniciar Sesión</h2>
            <p>Accede a tu cuenta de MedCloud</p>
        </div>

        <form method="post">
            {% csrf_token %}
            {% if form.errors %}
            <div>
                Usuario o contraseña incorrectos.
            </div>
            {% endif %}

            <div>
                <label for="id_username">Usuario</label>
                {{ form.username }}
            </div>

            <div>
                <label for="id_password">Contraseña</label>
                {{ form.password }}
            </div>

            <button type="submit">Ingresar</button>
        </form>
    </div>
</div>
{% endblock %}