{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Correo Enviado - AROS PACS</title>
    
    
    
    
    
</head>

<body>
    <div>
        <div>
            <div>
                <div>
                    <img src="{% static 'core/assets/img/logos/arosPacs_logo.png' %}" 
                        alt="AROS PACS Logo">
                    <h2>Correo Enviado</h2>
                    <p>
                        Te hemos enviado un correo electrónico con instrucciones para restablecer tu contraseña.
                        Asegúrate de revisar tu carpeta de spam o correo no deseado.
                    </p>
                </div>

                <div>
                    <a href="{% url 'login' %}">
                        Volver al inicio
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>